.projectsTitle{
    padding-top:.5em;
    padding-bottom:.5em;
    text-align: center;
    background-color: transparent;
    border-bottom: rgba(0, 0, 0, 0.514) solid;
}
.projectContainer{
    margin-bottom: 3em;
    margin-top: .5em;
}
.projectForm{
    margin:1% 15% 0% 15%;
}

.cantFind{
    display:flex;
    justify-content: flex-end;
}

.cantFindText{
    margin-right:1em;
}

.sortButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.edButtons{
    display:flex;
    justify-content: space-evenly;
}
.TN{
    margin-left: 1em;
}

.PN{
    margin-left: 1em;
}

.button{
    background-color: transparent;
    border:black solid;
}