.title{
    display: flex;
    justify-content: center;
}
.subHead{
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
}

.navbar {
    padding-bottom: 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:rgba(219, 169, 112, 0.719);
}
.headBlock{
    margin-bottom: 0;
    padding-bottom:0;
    padding-top:.5em;
}
