.title{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.subHead{
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    color:rgba(63, 63, 63, 0.897);
}

.navbar {
    padding-bottom: 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:transparent;
}
.headBlock{
    margin-bottom: 0;
    padding-bottom:0;
    padding-top:.5em;
}
